@media (max-width: 1430px) {
    .first_section .logos {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        row-gap: 30px;
    }
}

@media (max-width: 1300px) {
    .third_section .inner_container .buttons {
        flex-direction: column;
    }

    .fourth_section {
        padding: 50px 100px 120px 100px;
    }

    .grid_item_right {
        max-width: 500px;
    }
}

@media (max-width: 1200px) {
    .fifth_section, .sixth_section {
        flex-direction: column;
        padding: 120px 100px;
    }

    .eigth_section_top {
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }

    .eigth_section_top .inner_top {
        align-items: center;
    }

    .eigth_section_top .inner_top p:first-child,
    .eigth_section_top .inner_top h2,
    .eigth_section_top .inner_top p:last-child {
        text-align: center !important;
    }
}

@media (max-width: 1100px) {
    .third_section .inner_container {
        column-gap: 20px;
    }
}

@media (max-width: 1000px) {
    header nav ul {
        flex-direction: column !important;
        gap: unset;
    }

    .first_section {
        padding: 160px 50px 116px 50px;
    }

    .first_section .logos {
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        row-gap: 30px;
    }

    .first_section_content {
        padding: 150px 100px;
    }

    .subscribe {
        flex-direction: column;
    }

    .subscribe button {
        width: 100%;
    }

    .fourth_section .inner_grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}